* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 1em;
  line-height: 1.4;
  font-family: ClearSans;
  background-color: #fafafa;
}

a {
  color: #800;
}

a:hover,
a:focus {
  color: #800;
  text-decoration: underline;
}

.nav-item .active {
  color: black;
  border-bottom: 1px solid #800;
}

.btn-outline-danger {
  color: #800;
  border-color: #800;
}

.btn-outline-danger:hover {
  background-color: #800;
  border-color: #800;
}

.container {
  max-width: 850px;
}

.page {
  min-height: 100%;
  margin-bottom: -52px;
}

.page:after {
  content: '';
  display: block;
  height: 52px;
}

.card-header {
  font-weight: bold;
}

footer {
  height: 52px;
  margin: 10px auto 0;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 10px 15px;
}

.logo {
  max-width: 250px;
}
