@font-face {
  font-family: ClearSans;
  src: url('/static/fonts/ClearSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ClearSans;
  src: url('/static/fonts/ClearSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: ClearSans;
  src: url('/static/fonts/ClearSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: ClearSans;
  src: url('/static/fonts/ClearSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
